:root {
	--primary: #e2e5e0;
	--secondary: #53514a;
	--dark-bg: #172325;
	--accent: #fc5445;
	--background: var(--primary);
	--foreground: 20 14.3% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 20 14.3% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 20 14.3% 4.1%;
	--primary-foreground: 60 9.1% 97.8%;
	--secondary-foreground: 24 9.8% 10%;
	--muted: 60 4.8% 95.9%;
	--muted-foreground: 25 5.3% 44.7%;
	--accent-foreground: 24 9.8% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 20 5.9% 90%;
	--input: 20 5.9% 90%;
	--ring: 24.6 95% 53.1%;
	--radius: 1rem;
	--text-base-color: var(--secondary);
	--text-accent-color: var(--accent);
	--text-dark: var(--secondary);
}
html {
	font-family: 'Space Grotesk', sans-serif;
	height: 100%;
}
body {
	min-height: 100vh;

	& p {
		font-family: 'JetBrains Mono', monospace;
	}
}
html[data-theme='light'] {
	background-color: var(--background);
	transition: ease-in-out 0.3s;
	color: var(--text-dark);

	& .button-cta {
		background-color: var(--accent);
		border: none;
		color: var(--primary);

		&:hover {
			background-color: transparent;
			color: var(--accent);
			outline: solid 1px var(--accent);
		}
	}

	& .button {
		background-color: transparent;
		color: var(--secondary);
		border: none;
		outline: 1px solid var(--secondary);

		&:hover {
			background-color: var(--secondary);
			color: var(--primary);
		}
	}

	& footer {
		color: var(--light-shades);
		background-color: var(--main-brand);
	}
}
html[data-theme='dark'] {
	background-color: var(--dark-bg);
	transition: ease-in-out 0.3s;

	& a.active {
		color: var(--text-accent-color);
	}

	& .button-cta {
		background-color: var(--accent);
		border: none;
		color: var(--primary);

		&:hover {
			background-color: transparent;
			color: var(--primary);
			outline: solid 1px var(--primary);
		}
	}

	& .button {
		background-color: transparent;
		color: var(--primary);
		border: none;
		outline: 1px solid var(--primary);

		&:hover {
			background-color: var(--primary);
			color: #030303;
		}
	}

	/* about page - get in touch portion */

	& #getInTouch {
		& span,
		h2,
		p {
			color: var(--primary);
		}

		& .sendmessagebtn:hover {
			outline: solid 1px var(--primary) !important;
			color: var(--primary) !important;
		}
	}
	.card-body {
		.card-title {
			color: #d3d3d3;
		}
		& small {
			color: #d3d3d3;
		}
		& .card-actions a {
			color: #d3d3d3;
		}
	}
}
::-webkit-scrollbar {
	width: 3px;

	&:hover {
		width: 5px;
	}
}
::-webkit-scrollbar-thumb {
	background: var(--accent);
	border-radius: 5px;
}

.active {
	color: var(--text-accent-color);
}
.active-details {
	color: var(--text-accent-color) !important;
}
footer {
	grid-row: 2; /* Place footer in the second row */
}
